<!-- header section of index.ejs file -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Meme Stream</title>
  <!-- linking  google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- linking css file style.css -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
